{% extends 'base.html.twig' %}

{% block title %}Nouveau service{% endblock %}

{% block body %}
    <h1>Création d'un nouveau service</h1>

    {{ include('service/_form.html.twig') }}

    <a href="{{ path('service_index') }}">Retour à la liste</a>
{% endblock %}
