<p class="h3 font-weight-bold" >Laisser un commentaire</p>
<form action="{{ path('comment_new', {'idPetsitter': presentation.user.id, 'idOwner': app.user.id}) }}" method="POST">
    <div class="form-group">
        <label for="bodyForm">Vous avez utilisé les services de ce Petsitter ? Donnez votre avis ici.</label>
        <textarea class="form-control" id="bodyForm" name="body" rows="7" placeholder="Laisser un commentaire"></textarea>
      </div>
        <div class="form-group">
          <label for="noteForm">Votre note (sur 5)</label>
          <select class="form-control" id="noteForm" name="note">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
          </select>
          </div>
          <button class="btn btn-info" type="submit" value="Valider">Valider</button>
</form>