body {
    font-family:"Space Mono";
    background-color: whitesmoke;
}

.criteriaNav .fas {
    color: white;
}

.criteriaNav{
    position: relative;
    top: -2px;
}



@media (min-width : 1224px)
{

    .criteriaNav
    {
        position: fixed;
        display: block;
        height : auto;
        width : 5vw;
        top: 40vh;
        left: 3vw;
        border-radius: 15px;
    }

    .criteriaNav form
    {
        display: block;
        width : 100%;
    }
    
    .criteriaNav form i
    {
        display: block;
        font-size: 2em;
    }
    
    .criteriaNav form a
    {
        display: block;
    }    
}
