body {
    font-family:"Space Mono";
    background-color: whitesmoke;
}

.criteria-nav{
    z-index: 100;
    position: fixed;
    top: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items : center;
    color: whitesmoke;
}

.criteria-active{
    border: 1px solid whitesmoke;
}

.criteria-nav > div{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items : center;
}

.criteria-nav > button{
    border: solid 0.1em whitesmoke;
    border-radius: 0.1em;
    color: whitesmoke;
}

.criteria-nav input{
    width: 100px;
}

#radius{
    padding : 0px;
}

