body {
    font-family:"Space Mono";
    background-color: whitesmoke;
    margin-top: 5em;
}

.filter-active{
    border: solid 0.1em lightgrey;
    border-radius: 0.1em;
}

@media (max-width : 1224px)
{
    .criteria-list ul{
        font-size: 4em;
        flex-direction: column;
        align-items: center;
    }
    
    .criteria-list ul li{
        display: block;
        margin: 0.5em;
    }
}
