<div class="card mr-auto ml-auto col-8 m-2 bg-dark">
    <div class="card-body d-flex flex-row ">
        <div class="card-header col-3 m-1 border">
            <div class="text-center">
                <img class="rounded" style="width:50%;" src="{{ asset('images/breed_image_597b65b79757c.jpg') }}" alt="">
                <h5 class="d-block card-title text-white">{{ presentation.title}}</h5>
            </div>
        </div>
        <div class="col-5 m-auto ">
            <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="text-white card-link">Card link</a>
            <a href="#" class="text-white card-link">Another link</a>
        </div>
    </div>
</div>