<p style="color: red;">Tous les champs marqués d'une étoile (*) sont obligatoires.</p>
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button class="btn btn-dark ">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
