{% extends 'base.html.twig' %}

{% block title %}Edition fiche de présentation{% endblock %}

{% block body %}
<div class="card mt-4 mb-4 mr-auto ml-auto col-xl-6 col-lg-10 col-md-10 col-10-sm p-0 ">
        <div class="card-header bg-dark">
          <h2 class="text-center text-white">Edition fiche de présentation</h2>
        </div>
      <div class="card-body">
{% if presentation.isActive %}
<p style="color: blue;">Publication actuellement activée : <a href="{{ path('presentation_disable', {'id': presentation.id}) }}">Désactiver</a></p>
{% else %}
<p style="color: red;">Publication actuellement non-activée (non-publiée) : <a href="{{ path('presentation_disable', {'id': presentation.id}) }}">Activer</a></p>
{% endif %}

{{ include('presentation/_form.html.twig') }}

</div>
</div>
{% endblock %}
