{% extends 'base.html.twig' %}

{% block title %}Edition fiche de présentation{% endblock %}

{% block body %}
<h2>Edition fiche de présentation</h2>
{{ include('presentation/_form.html.twig') }}
{% endblock %}
