{% extends 'base.html.twig' %}

{% block title %}Création fiche de présenation{% endblock %}

{% block body %}
<h2>Création fiche de présentation</h2>
{{ include('presentation/_form.html.twig') }}
{% endblock %}
