{% extends 'base.html.twig' %}

{% block title %}Fiche animal - Création{% endblock %}

{% block body %}
<div class="card mt-4 mb-4 mr-auto ml-auto col-6 p-0  ">
    <div class="card-header bg-dark">
        <h2 class="text-center text-white">Créez une fiche pour votre animal</h2>
    </div>
    <div class="card-body">
        {{ include('animal/_form.html.twig') }}
    </div>
</div>
{# <a href="{{ path('animal_index') }}">back to list</a> #}
{% endblock %}