{% extends 'base.html.twig' %}

{% block title %}API - KeepPetCool{% endblock %}

{% block body %}

    <h1 class="m-auto d-block text-center pt-5">Utilisation de notre API</h1>

    <div class="card p-0 bg-light mr-auto ml-auto mt-4 mb-3 col-xm-8 col-lg-10 col-sm-10">
        <div class="card-header bg-dark text-light rounded-bottom h4">Comment utiliser notre API ?</div>
        <div class="card-body">
            <h5 class="card-title">Paramètre de notre API (filter)</h5>
            <p class="card-text"><code>https://keeppetcool.com/api?filter=</code></p>
                <p>Valeurs pouvant être utilisées : </p>
            
                <ul>
                    <li><code>all</code></li>
                    <li><code>petsitter</code></li>
                    <li><code>owner</code></li>
                    <li><code>animal</code></li>
                </ul>                
            
        </div>
    </div>

    <div class="card p-0 bg-light mr-auto ml-auto mt-4 mb-3 col-xm-8 col-lg-10 col-sm-10">
        <div class="card-header bg-dark text-light rounded-bottom h4">Tester notre API (réponse en JSON)</div>
        <div class="card-body">
            <p class="card-text"><a href="{{path('api', {'filter': 'all'})}}">Toutes les présentations</a></p>
            <p class="card-text"><a href="{{path('api', {'filter': 'petsitter'})}}">Toutes les fiches de présentation petsitters</a></p>
            <p class="card-text"><a href="{{path('api', {'filter': 'owner'})}}">Toutes les fiches de présentation propriétaires</a></p>
            <p class="card-text"><a href="{{path('api', {'filter': 'animal'})}}">Toutes les fiches animaux</a></p>
        </div>
    </div>

    <div class="card p-0 bg-light mr-auto ml-auto mt-4 mb-3 col-xm-8 col-lg-10 col-sm-10">
        <div class="card-header bg-dark text-light rounded-bottom h4">Conditions d'utilisation de notre API</div>
        <div class="card-body">
            <p class="card-text"> mus sed sapien eleifend, porta velit sed, gravida nulla. Vivamus nibh diam, tempor sit amet auctor vitae, viverra quis mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam ex lacus, rutrum in sapien at, fringilla tincidunt ante. Integer congue venenatis justo. Nunc in turpis mattis, facilisis elit eu, cursus  </p>
        </div>
    </div>

{% endblock %}