{% extends 'base.html.twig' %}


{% block title %}FAQ - KeepPetCool{% endblock %}

{% block body %}

<h1 class="m-auto d-block text-center pt-5">FAQ</h1>

<div id="faqContent">
  
  {# <div id="accordion" class="col-8 m-auto pt-5">
    <div class="card mb-5 border-10 border-dark">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
              <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <span class="h4">#Question#</span>
              </button>
          </h5>
        </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body text-dark">
            #content#
        </div>
    </div>
    </div>

  </div> #}

</div>

{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>var urlLink = "{{ path('faq')|e('js') }}";</script>
    <script src="{{asset('js/ajaxFaq.js')}}"></script>
{% endblock %}