{% extends 'base.html.twig' %}

{% block title %} KeepPetCool {% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="navigation">
        {{ knp_pagination_render(presentations) }}
    </div>

{% for presentation in presentations %}


{{ include('presentation/_card.html.twig') }}

{% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(presentations) }}
    </div>

</div>

{% endblock %}