{% extends 'base.html.twig' %}

{% block title %}Home {% endblock %}

{% block body %}

<div class="container-fluid">

{% for presentation in presentations %}

{{ include('presentation/_card.html.twig') }}

{% endfor %}

</div>

{% endblock %}