{% extends 'base.html.twig' %}

{% block title %} KeepPetCool {% endblock %}

{% block body %}

<div class="container-fluid">

{% for presentation in presentations %}


{{ include('presentation/_card.html.twig') }}

{% endfor %}

</div>

{% endblock %}