{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="m-auto d-block text-center pt-5">Mentions légales</h1>

    <div class="card bg-light mr-auto ml-auto mt-4 mb-3 col-8">
        <div class="card-header bg-dark text-light rounded-bottom h4">Qui sommes nous ?</div>
        <div class="card-body">
            <h5 class="card-title">KeePetCool S.A.R.L</h5>
            <p class="card-text"> mus sed sapien eleifend, porta velit sed, gravida nulla. Vivamus nibh diam, tempor sit amet auctor vitae, viverra quis mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam ex lacus, rutrum in sapien at, fringilla tincidunt ante. Integer congue venenatis justo. Nunc in turpis mattis, facilisis elit eu, cursus  </p>
        </div>
    </div>

    <div class="card bg-light mr-auto ml-auto mt-4 mb-3 col-8">
        <div class="card-header bg-dark text-light rounded-bottom h4">Condition d'utilisation du site :</div>
        <div class="card-body">
            <p class="card-text"> mus sed sapien eleifend, porta velit sed, gravida nulla. Vivamus nibh diam, tempor sit amet auctor vitae, viverra quis mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam ex lacus, rutrum in sapien at, fringilla tincidunt ante. Integer congue venenatis justo. Nunc in turpis mattis, facilisis elit eu, cursus  </p>
        </div>
    </div>

    <div class="card bg-light mr-auto ml-auto mt-4 mb-3 col-8">
        <div class="card-header bg-dark text-light rounded-bottom h4">Modalités de paiement et de remboursement :</div>
        <div class="card-body">
            <p class="card-text"> mus sed sapien eleifend, porta velit sed, gravida nulla. Vivamus nibh diam, tempor sit amet auctor vitae, viverra quis mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam ex lacus, rutrum in sapien at, fringilla tincidunt ante. Integer congue venenatis justo. Nunc in turpis mattis, facilisis elit eu, cursus  </p>
        </div>
    </div>

{% endblock %}