{% extends 'base.html.twig' %}

{% block title %}Nouvelle espèce{% endblock %}

{% block body %}
    <h1>Creation d'une nouvelle espèces</h1>

    {{ include('species/_form.html.twig') }}

    <a href="{{ path('species_index') }}">Retour à la liste</a>
{% endblock %}
