<nav class="container-fluid bg-dark criteria-nav">

{% if app.user %}
  {% if app.user.type == 'petsitter' %}
    {% set petsitterClass = ""%}
    {% set ownerClass = "criteria-active"%}
  {% else %}
    {% set petsitterClass = "criteria-active"%}
    {% set ownerClass = ""%}
  {% endif %}
{% else %}
  {% set petsitterClass = "criteria-active"%}
  {% set ownerClass = ""%}
{% endif %}

  <div class="col-2"> Je cherche : </div>

  <div class="col-2 {{petsitterClass}} user-checkbox" data-usertype="petsitter">
    <i class="fas fa-user-alt"></i>
    <div>Un petsitter</div>
  </div>

  <div class="col-2 {{ownerClass}} user-checkbox" data-usertype="owner">
    <i class="fas fa-dog"></i>
    <div>Un propriétaire</div>
  </div>

  <span class="col-2">
    <label for="radius">Ville</label>
    <input class="col-5" placeholder="zipcode" id="zipcode"></input>
  </span>

  <span class="col-2">
    <label for="radius">Rayon</label>
    <input type="number" id="radius" class="col-3"></div>
    <span>km</span>
  </span>

  <button class="bg-dark col-1" id="searchButton" data-route="{{path('search', {'userType' : '', 'zipcode': '', 'radius': ''})}}"><i class="fas fa-search"></i></button>

</nav>